<!DOCTYPE html>
<html ng-app="appModule">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Angular JS</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='../node_modules/angular/angular.min.js'></script>
    <script>
        angular.module('appModule', []);

        angular.module('appModule').service('service', function () {


            this.upper = function (input) {

                return input.toUpperCase();
            }
        })

        angular.module('appModule').factory('factory', function () {
           
            function teste(params) {
               return  alert('Oi');
            }
        });

        angular.module('appModule').filter('upperCase', function () {

            return function upperCasePipe(input) {
                if (input !== undefined) {

                    return input.toUpperCase();
                }
                return;
            }
        });

        angular.module('appModule').controller('IndexController', ['service', 'factory', controller]);

        function controller(service, factory) {

            var vm = this;

            this.value_1 = 0;
            
            /*Inicializador */
            init();

            function init() {

                _autoIncrement();
                _teste();
            }

            this.upperCase = function (value) {

                this.value_3 = service.upper(value);
            }

            function _autoIncrement() {
                vm.increment = function () {

                    return vm.value_1++;
                }
            }

            function _teste() {
                factory.teste();
            }



        }   
    </script>
</head>

<body>

    <h1>Exercício 1</h1>
    <div ng-controller="IndexController as ctrl">
        <button ng-click="ctrl.increment()">

            <div>
                {{ ctrl.value_1 }}
            </div>
        </button>

        <h1>Exercício 2</h1>

        <div>
            <p>{{ ctrl.value_2 | upperCase }}</p>
            <input ng-model="ctrl.value_2">
        </div>

        <h1>Exercício 3</h1>
        <div>
            <input ng-change="ctrl.upperCase(ctrl.value_3)" ng-model="ctrl.value_3">
        </div>
    </div>




</body>

</html>